.DS_Store
.vscode/
node_modules/
*.log
*.tar.gz
.env
config.js
package-lock.json
.gitpod.yml
.nyc_output/
coverage/
# build output
dash/dist/
# generated types
dash/.astro/
dash/.idea/

# dependencies
dash/node_modules/

# logs
dash/npm-debug.log*
dash/yarn-debug.log*
dash/yarn-error.log*
dash/pnpm-debug.log*


# environment variables
dash/.env
dash/.env.production

# macOS-specific files
.DS_Store
