.DS_Store
.vscode/
node_modules/
*.log
*.tar.gz
.env
package-lock.json

# build output
web/dist/
# generated types
web/.astro/
web/.idea/

# dependencies
web/node_modules/

# logs
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*


# environment variables
web/.env
web/.env.production

# macOS-specific files
.DS_Store