---
const { src, alt } = Astro.props;

interface Props {
  src: string;
  alt: string;
}
---

<div class="flex-shrink-0">
  <img
    class="size-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
    src={src}
    alt={alt}
    loading="lazy"
  />
</div>
