<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://github.com/Androz2091/AtlantaBot"> <b>Atlanta Dashboard</b> Version 1.0.0-beta</a>
  </div>
  <strong
    >This website uses <a href="https://adminlte.io">AdminLTE</a> and <a href="https://boostrap.com">Bootstrap</a>. Made
    with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/Androz2091">Androz2091</a>.</strong
  >
</footer>
