<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://github.com/vixshan/mochi"> <b>Mochi Dashboard</b> Version 1.0.0-beta</a>
  </div>
  <strong>
    Edit/contribute to this dashboard at <a target="_blank" href="https://github.com/vixshan/mochi/issues">GitHub</a>, 
    Read the <a target="_blank" href="https://docs.vikshan.tech">docs and all commands. </a>
    Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/vixshan">Vikshan
      
    </strong
  >
</footer>
