<header class="main-header">
  <!-- Logo -->
  <% if(config.DASHBOARD.style=="dark"){ %>
    <a href="/" class="logo logo-custom-dark">
      <%} else {%>
        <a href="/" class="logo logo-custom-light">
          <%}%>

            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Stra..</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Strange Bot</b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <% if(config.DASHBOARD.style=="dark"){ %>
          <nav class="navbar navbar-static-top navbar-custom-dark navbar-static-top-custom-dark">
            <%} else {%>
              <nav class="navbar navbar-static-top navbar-custom-light navbar-static-top-custom-light">
                <%}%>
                  <!-- Sidebar toggle button-->
                  <% if(config.DASHBOARD.style=="dark"){ %>
                    <a class="sidebar-toggle sidebar-toggle-custom-dark" data-toggle="push-menu" role="button">
                      <%} else {%>
                        <a class="sidebar-toggle sidebar-toggle-custom-light" data-toggle="push-menu" role="button">
                          <%}%>

                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <!-- Navbar Right Menu -->

                        <div class="navbar-custom-menu">
                          <ul class="nav navbar-nav">
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="<%= user.displayAvatar %>" class="user-image" alt="User Image" />
                                <span class="hidden-xs">
                                  <%= user.tag %>
                                </span>
                              </a>
                              <% if(config.DASHBOARD.style=="dark"){ %>
                                <ul class="dropdown-menu dropdown-menu-custom-dark">
                                  <%} else {%>
                                    <ul class="dropdown-menu dropdown-menu-custom-light">
                                      <%}%>
                                        <!-- Menu Footer-->
                                        <% if(config.DASHBOARD.style=="dark"){ %>
                                          <li class="user-footer user-footer-custom-dark"
                                            style="min-width: auto !important">
                                            <%} else {%>
                                          <li class="user-footer user-footer-custom-light" style="min-width: auto !important">
                                            <%}%>
                                              <div>
                                                <% if(config.DASHBOARD.style=="dark"){ %>
                                                  <a href="/logout"
                                                    class="btn btn-default btn-flat btn-block btn-custom-dark btn-default-custom-dark btn-flat-custom-dark btn-block-custom-dark">Sign
                                                    out</a>
                                                  <%} else {%>
                                                    <a href="/logout" class="btn btn-default btn-flat btn-block btn-custom-light btn-default-custom-light btn-flat-custom-light btn-block-custom-light">Sign
                                                      out</a>
                                                    <%}%>

                                              </div>
                                          </li>
                                    </ul>
                            </li>
                          </ul>
                        </div>
              </nav>
</header>