<head>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4999609620951427"
    crossorigin="anonymous"
  ></script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Mina | Dashboard</title>
  <link
    rel="icon"
    type="image/ico"
    href="https://github.com/vixshan/amina/blob/main/docs/.gitbook/assets/tmpng.png"
  />

  <!-- CSS JS Fonts Icons-->
  <meta
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport"
  />
  <link
    rel="stylesheet"
    href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="/bower_components/font-awesome/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/dist/css/custom.css" />
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
  />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
    const button = new Crate({
      server: '1072214895598248030',
      channel: '1072214897615720456',
      location: ['bottom', 'left'],
      defer: true
    })

    // Random color every 2000 milliseconds
    setInterval(() => {
      button.options.color = "#000000".replace(/0/g, () => {
            return (~~(Math.random() * 16)).toString(16)
          })
    }, 2000)
  </script>
</head>

